{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
  <div class="container w-50 m-auto">
    <form method="post" class="mb-5">
      <h3 class="text-center my-2">Connexion</h3>
      <label for="inputUsername">Pseudo</label>
      <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control my-2" required autofocus>
      <label for="inputPassword">Mot de passe</label>
      <input type="password" name="password" id="inputPassword" class="form-control my-2" required>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

      <button class="btn btn-success my-2" type="submit">Se connecter</button>
    </form>
  </div>
{% endblock %}
