/**

~~~~~~~General~~~~~~~~

**/
.hide {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: inherit;
}

p a, nav i {
  color: #d9534f;
  font-style: italic;
}

p, h6, button, a, nav {
  font-family: 'Open Sans', sans-serif;
  }

h1, h2 {
  color: white;
}

h1, h3, footer p {
  font-family: 'Indie Flower', cursive;
}

h2, h4 {
    font-family: 'Secular One', sans-serif;
}

h1 {
  border-bottom: solid 2px #d9534f;
}

header .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**

~~~~~~~Header~~~~~~~~

**/

.jumbotron {
  height: 60vh;
  background-image: url(../img/mountains.png);
  background-position: center;
  background-size: cover;
}

header .container-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  height: 60vh;
}


/**

~~~~~~~End header~~~~~~~~

**/

/**

~~~~~~~Main content~~~~~~~~

**/

.card {
  position: relative;
}

.layer, .card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.layer {
  -webkit-transition: width 1s, height 1s; /* Safari prior 6.1 */
  transition: width 1s, height 1s;
  z-index: 1;
  opacity: 0.6;
  background-color: black;
}

.card img {
  z-index: 0;
  filter: grayscale(1);
}

.card:hover img {
  filter: grayscale(0);
}

.card:hover .layer{
  height: 0;
}

.card-body {
  z-index: 2;
}

.card:hover {
  box-shadow: 2px 5px 10px black;
}

/**

~~~~~~~End main content~~~~~~~~

**/


/**

~~~~~~~Footer~~~~~~~~

**/

footer i:hover {
  font-size: 2.3em;
  color: #d9534f
}

/*

~~~~~~~~~~Responsive design~~~~~~~~~~~~~~

*/

@media (min-width: 544px) {
 article h4 {
   height: 53px;
 }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

 .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .active .nav-link:hover {
   font-size: 1.1em;
   background-color: white;
   border-radius: 2px;
   color: #373a3c;
   padding: .4em;
 }

 article h4 {
   height: auto;
 }

 #intro-prints, #intro-sites  {
  height: 100px;
}

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
  .card-block p {
    height: 140px;
  }

  #intro-prints, #intro-sites  {
   height: 70px;
 }

}
