/**

~~~~~~~General~~~~~~~~

**/

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: inherit;
}

p a, nav i {
  color: #d9534f;
  font-style: italic;
}

h1, h3, footer p, footer p a {
  font-family: 'Indie Flower', cursive;
}

h2, h4, .skills-list li {
    font-family: 'Secular One', sans-serif;
}

h1 {
  border-bottom: solid 2px #d9534f;
}

/**

~~~~~~~Header~~~~~~~~

**/

.jumbotron {
  height: 60vh;
  background-image: url(../img/mountains.png);
  background-position: center;
  background-size: cover;
}

.jumbotron .container-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/**

~~~~~~~Main content~~~~~~~~

**/

.card {
  position: relative;
}

.card:hover {
  box-shadow: 2px 5px 10px black;
}

/* Cover each card with an image and a black transparent layer */
.layer, .card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.card img, .skills-list img {
  z-index: 0;
  filter: grayscale(1);
}

.layer {
  -webkit-transition: width 1s, height 1s; /* Safari prior 6.1 */
  transition: width 1s, height 1s;
  z-index: 1;
  opacity: 0.6;
  background-color: black;
}

.card:hover img, .skills-list img:hover {
  filter: grayscale(0);
}

.card:hover .layer{
  height: 0;
}

/* Make sure the body with the button is over the img and layer */
.card-body {
  z-index: 2;
}

#bio-image {
  width: 40%;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 2em 0;
}

.skills-list li {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.skills-list img {
  width: 80%;
}

.form-container form button {
  display: block;
  margin: auto;
}

/**

~~~~~~~Footer~~~~~~~~

**/

footer i:hover {
  color: #d9534f
}


/*

~~~~~~~~~~Responsive design~~~~~~~~~~~~~~

*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* Tab effect when hover on nav links */
  .navbar-dark .navbar-nav .nav-link:hover {
     background-color: white;
     border-radius: 2px;
     color: #373a3c;
     padding: .4em;
     font-weight: bold;
  }

  #bio-image {
    width: auto;
  }

  .form-container {
    width: 75%;
  }
}

/* large devices (992px and up) */
@media (min-width: 992px) {
  .skills-list img {
    width: 60%;
  }

  .form-container {
    width: 50%;
  }
}
