{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <div class="container w-50 m-auto">
    <h3 class="text-center my-2">Me contacter</h3>
    {{form(form)}}
  </div>
{% endblock %}
