{% extends 'base.html.twig' %}

{% block title %}Crédits{% endblock %}

{% block body %}
  <h3 class="text-center my-2">Crédits</h3>
    <p>Réalisation et développement : Thomas Gossart</p>
    <p>Date de première mise en production : 2020</p>
    <p>Hébergeur : OVH, France</p>
    <p>Image header : <a href="https://pixabay.com/fr/vectors/montagnes-panorama-forest-montagne-1412683/">Moizon sur Piaxabay</a></p>
    <p>
      Logos langages et technologies :
      <p>HTML : <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      <p>CSS : <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      <p>JavaScript : <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      <p>PHP : <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      <p>SQL : <a href="https://www.flaticon.com/authors/phatplus" title="phatplus">phatplus</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      <p>Python : <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </p>
    <p>Icones divers : <a href="https://fontawesome.com/">Font Awesome</a> </p>
{% endblock %}
