<footer class="bg-dark text-white text-center mt-5 py-4">
  <p class="m-t-2">Suivez-moi aussi sur</p>
  <figure class="logos m-0">
    <a href="https://twitter.com/TgGossart" target="_blank"><i class="fab fa-twitter-square fa-2x mx-3" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/thomas-gossart-44513b72?trk=nav_responsive_tab_profile" target="_blank"><i class="fab fa-linkedin fa-2x mx-3" aria-hidden="true"></i></a>
    <a href="https://github.com/thomgo" target="_blank"><i class="fab fa-github-square fa-2x mx-3" aria-hidden="true"></i></a>
  </figure>
</footer>
