<form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Sûr de vouloir supprimer ce projet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn"><i class="fas fa-trash-alt mx-1 text-danger"></i></button>
</form>
